/*.Topic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}
.useFlexHorizontal {
  width: 150% !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center !important;
}
.Card {
  display: flex !important;
  justify-content: center !important;
  width: 150% !important;
  border-radius: 5px !important;
  background-color: #6b728e !important;
}

.CardActions {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.CardContent {
  width: 60%;
  display: flex;
  justify-content: flex-start;
}

.button {
  background-color: #50577a !important;
  color: white !important;
}

.text {
  color: white;
  font-size: larger;
}
*/
